@CHARSET "ISO-8859-1";

.bend-cat-1 {
	font-size: 120%;
}

.bend-cat-2 {
	font-size: 110%;
}

.bend-cat-3 {
	font-size: 100%;
}

.hours {
	font-weight: bold;
	color: black;
}

.no-hours {
	font-weight: normal;
	color: #C0C0C0;
}

#menutree li {
	list-style: none; /* all list item li dots invisible */
}

li .menu_label+input[type=checkbox] {
	opacity: 0; /* checkboxes invisible and use no space */
} 
/* display: none; is better but fails in ie8 */
li .menu_label {
	cursor: pointer; /* cursor changes when you mouse over this class */
}
 /* could add the many user-select: none; commands here */
li .menu_label+input[type=checkbox]+ol>li {
	display: none;
	/* prevents sublists below unchecked labels from displaying */
}

li .menu_label+input[type=checkbox]:checked+ol>li {
	display: block; /* display submenu on click */
}

.show-period-household-list-household-row td {
	font-weight: bold;
	font-size: 110%;
}